@charset "utf-8";
/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

/* Transition
-------------------------- */
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;
$--fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--fade-linear-transition: opacity 200ms linear !default;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default;
$--color-transition-base: color .2s cubic-bezier(.645,.045,.355,1) !default;

/* Color
-------------------------- */
$--color-primary: #1890FF;
/// color|[基础白色,basic white,basic white]|BackgroundColor|4
$--color-white: #FFFFFF !default;
/// color|[基础黑色,basic black,basic black]|BackgroundColor|4
$--color-black: #313940 !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */
/// color|[成功颜色,success color,success color]|SecondaryColor|1
$--color-success: #52C41A;
/// color|1|Functional Color|1
$--color-warning: #FAAD14;
/// color|1|Functional Color|1
$--color-danger: #F5222D;
/// color|1|Functional Color|1
$--color-info: #909399;

$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;
/// color|[主要文字颜色,primary text color,primary text color]|FontColor|2
$--color-text-primary: #F2F2F2 !default;
/// color|[常规文字颜色,regular text color,regular text color]|FontColor|2
$--color-text-regular: #606266 !default;
/// color|[次要文字颜色,secondary text color,secondary text color]|FontColor|2
$--color-text-secondary: #AEB9C3 !default;
/// color|[占位文字颜色,placeholder text color,placeholder text color]|FontColor|2
$--color-text-placeholder: #CECECE !default;
/// color|[一级边框颜色,border color,border color]|BorderColor|3
$--border-color-base: #595959 !default;
/// color|[二级边框颜色,border color light,border color light]|BorderColor|3
$--border-color-light: #E4E7ED !default;
/// color|[三级边框颜色,border color lighter,border color lighter]|BorderColor|3
$--border-color-lighter: #EBEEF5 !default;
/// color|[四级边框颜色,border color extra light,border color extra light]|BorderColor|3
$--border-color-extra-light: #F2F6FC !default;


// Background
/// color|[基础背景色,base background color,base background color]|BackgroundColor|4
$--background-color-base: #f5f7fa !default;
$--background-color-hover: #E6F7FF;

/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-hover: $--color-text-placeholder !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
/// borderRadius|[大圆角,border radius base,border radius base]|Radius|0
$--border-radius-base: 4px !default;
/// borderRadius|[小圆角,border radius small,border radius small]|Radius|0
$--border-radius-small: 2px !default;
/// borderRadius|[圆形圆角,border radius circle,border radius circle]|Radius|0
$--border-radius-circle: 100% !default;

$--select-option-selected-hover: $--background-color-hover !default;
$--select-option-hover-background: $--background-color-hover !default;
$--table-row-hover-background: $--background-color-hover !default;
$--tree-node-hover-color: $--background-color-hover !default;

/* Button
-------------------------- */
$--button-micro-font-size: 12px !default;
$--button-micro-border-radius: #{$--border-radius-base - 1} !default;
$--button-micro-padding-vertical: 4px !default;
$--button-micro-padding-horizontal: 10px !default;


$--color-primary-dark-1: #e6e6e6;
$--color-primary-dark-9: #4b545a;
$--tabs-background-color-base: #3b454e;
$-tab-active-color: #313940;
$--button-default-bgc: #3b454e;
$--button-default-hover-bgc: #697b8d;
$--button-disabled-bgc: #3b454e;
$--button-disabled-color: #5d636a;
$--button-disabled-bc: #262a2e;
$--collaspe-header-bgc: #45525d;
$--menu-active-bgc : #22282d;
$--color-common-dark-1: #595959;
$--color-common-dark-2: #313940;
$--color-transparent-1: rgba(255,255,255,0);
$--color-transparent-2: rgba(255,255,255,0.05);
$--color-transparent-3: rgba(255,255,255,0.08);
$--border-color-transparent: #595959;


/* icon font path, required */
$--font-path: 'theme-chalk/src/fonts';

//@import "~element-ui/packages/theme-chalk/src/index";
@import "theme-chalk/src/index";

